* { padding:0px; margin:0px; }

a:hover {		
	font-family: Tahoma, Geneva, sans-serif;
}
#menu {margin:auto;}
#nav1 {list-style:none;}
#nav1 li {
float:left;

}
#nav1 li a {
	display: block;
	text-decoration: none;
	color: #FFFFFF;
	font-weight: none;
	font-family: "Monotype corsiva";
	font-size: 22px;
	padding-top: 9px;
	padding-right: 15px;
	padding-bottom: 9px;
	padding-left: 38px;
	text-align: left;
}
#nav1 ul.submenu {
	position: absolute;
	list-style: none;
	width: 250px;
	
}

#nav1 ul.submenu li {
float:none;
}
#redes #texto_redes h1 {
	font-family: Tahoma, Geneva, sans-serif;
	color: #339;
	text-align: center;
}
#redes #texto_redes p {

}
#redes3 #texto_redes3 blockquote h1 {
	font-family: Tahoma, Geneva, sans-serif;
	text-align: center;
	color: #339;
}
#Detalle #redes2 #texto_redes2 blockquote h1 {
	color: #339;
	font-family: Tahoma, Geneva, sans-serif;
	text-align: center;
}
